@tailwind base;
@tailwind components;
@tailwind utilities;
.dark input[type="date"]::-webkit-calendar-picker-indicator,
.dark input[type="month"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
